.textedit {
	min-width: 100%;
	min-height: 30em;
	font-family: monospace;
}

.treegrid-indent {width:16px; height: 16px; display: inline-block; position: relative;}

.treegrid-expander {width:16px; height: 16px; display: inline-block; position: relative; cursor: pointer;}

.treegrid-expander-expanded{background-image: url(/static/collapse.png); }
.treegrid-expander-collapsed{background-image: url(/static/expand.png);}